label {
  display: flex;
  flex-direction: column;
}

#form {
  border: 2px solid rgb(39, 157, 197);
  background-color: rgb(39, 157, 197);
  padding: 10 px;
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

App {
  display: flex;
  align-items: center;
}
